# Item Model Generator in ModelBakery
public net.minecraft.client.resources.model.ModelBakery f_119241_

# ReloadState class
public net.minecraft.client.resources.model.ModelManager$ReloadState

# TextureAtlasSprite constructor
public net.minecraft.client.renderer.texture.TextureAtlasSprite <init>(Lnet/minecraft/resources/ResourceLocation;Lnet/minecraft/client/renderer/texture/SpriteContents;IIII)V # TextureAtlasSprite

# SoundEngine field
public net.minecraft.client.sounds.SoundManager f_120349_

# SoundEngine
public net.minecraft.client.sounds.SoundEngine f_120228_ # tickingSounds
public net.minecraft.client.sounds.SoundEngine f_120226_ # instanceToChannel
public net.minecraft.client.sounds.SoundEngine f_120227_ # instanceBySource
public net.minecraft.client.sounds.SoundEngine f_120230_ # soundDeleteTime
public net.minecraft.client.sounds.SoundEngine f_120225_ # tickCount

# SoundBufferLibrary field
public net.minecraft.client.sounds.SoundEngine f_120222_

# channelAccess field
public net.minecraft.client.sounds.SoundEngine f_120224_

public net.minecraft.client.sounds.SoundBufferLibrary f_120189_ # resourceManager

public net.minecraft.client.particle.ParticleEngine$SpriteParticleRegistration

public com.mojang.blaze3d.audio.Channel f_83642_ # source