# Item Model Generator in ModelBakery
public net.minecraft.client.resources.model.ModelBakery f_119241_

# ReloadState class
public net.minecraft.client.resources.model.ModelManager$ReloadState

# TextureAtlasSprite constructor
public net.minecraft.client.renderer.texture.TextureAtlasSprite <init>(Lnet/minecraft/resources/ResourceLocation;Lnet/minecraft/client/renderer/texture/SpriteContents;IIII)V # TextureAtlasSprite

# SoundEngine field
public net.minecraft.client.sounds.SoundManager f_120349_

# SoundBufferLibrary field
public net.minecraft.client.sounds.SoundEngine f_120222_

# channelAccess field
public net.minecraft.client.sounds.SoundEngine f_120224_

public net.minecraft.client.sounds.SoundBufferLibrary f_120189_ # resourceManager