# Item Model Generator in ModelBakery
public net.minecraft.client.resources.model.ModelBakery ITEM_MODEL_GENERATOR

# ReloadState class
public net.minecraft.client.resources.model.ModelManager$ReloadState

# TextureAtlasSprite constructor
public net.minecraft.client.renderer.texture.TextureAtlasSprite <init>(Lnet/minecraft/resources/ResourceLocation;Lnet/minecraft/client/renderer/texture/SpriteContents;IIII)V # TextureAtlasSprite

# SoundEngine field
public net.minecraft.client.sounds.SoundManager soundEngine

# SoundBufferLibrary field
public net.minecraft.client.sounds.SoundEngine soundBuffers

# channelAccess field
public net.minecraft.client.sounds.SoundEngine channelAccess

public net.minecraft.client.sounds.SoundBufferLibrary resourceManager

public net.minecraft.client.particle.ParticleEngine$SpriteParticleRegistration

public com.mojang.blaze3d.audio.Channel source