# Item Model Generator in ModelBakery
public net.minecraft.client.resources.model.ModelBakery f_119241_

# ItemModelGenerator
public net.minecraft.client.renderer.block.model.ItemModelGenerator m_111638_(ILjava/lang/String;Lnet/minecraft/client/renderer/texture/SpriteContents;)Ljava/util/List;

# BlockModel
public net.minecraft.client.renderer.block.model.BlockModel m_111437_(Lnet/minecraft/client/renderer/block/model/BlockElement;Lnet/minecraft/client/renderer/block/model/BlockElementFace;Lnet/minecraft/client/renderer/texture/TextureAtlasSprite;Lnet/minecraft/core/Direction;Lnet/minecraft/client/resources/model/ModelState;Lnet/minecraft/resources/ResourceLocation;)Lnet/minecraft/client/renderer/block/model/BakedQuad;

# SimpleParticleType
public net.minecraft.core.particles.SimpleParticleType <init>(Z)V

# ItemOverrides constructor
public net.minecraft.client.renderer.block.model.ItemOverrides <init>()V

# ReloadState class
public net.minecraft.client.resources.model.ModelManager$ReloadState

# TextureAtlasSprite constructor
public net.minecraft.client.renderer.texture.TextureAtlasSprite <init>(Lnet/minecraft/resources/ResourceLocation;Lnet/minecraft/client/renderer/texture/SpriteContents;IIII)V

# SoundManager
public net.minecraft.client.sounds.SoundManager f_120349_

# SoundEngine
public net.minecraft.client.sounds.SoundEngine f_120228_ # tickingSounds
public net.minecraft.client.sounds.SoundEngine f_120226_ # instanceToChannel
public net.minecraft.client.sounds.SoundEngine f_120227_ # instanceBySource
public net.minecraft.client.sounds.SoundEngine f_120230_ # soundDeleteTime
public net.minecraft.client.sounds.SoundEngine f_120225_ # tickCount
public net.minecraft.client.sounds.SoundEngine f_120222_ # soundBuffers
public net.minecraft.client.sounds.SoundEngine f_120224_ # channelAccess

# SoundBufferLibrary
public net.minecraft.client.sounds.SoundBufferLibrary f_120189_ # resourceManager

# ParticleEngine
public net.minecraft.client.particle.ParticleEngine$SpriteParticleRegistration

# Channel
public com.mojang.blaze3d.audio.Channel f_83642_ # source

# MenuScreens
public net.minecraft.client.gui.screens.MenuScreens$ScreenConstructor