# Item Model Generator in ModelBakery
public net.minecraft.client.resources.model.ModelBakery ITEM_MODEL_GENERATOR

# ItemModelGenerator
public net.minecraft.client.renderer.block.model.ItemModelGenerator processFrames(ILjava/lang/String;Lnet/minecraft/client/renderer/texture/SpriteContents;)Ljava/util/List;

# BlockModel
public net.minecraft.client.renderer.block.model.BlockModel bakeFace(Lnet/minecraft/client/renderer/block/model/BlockElement;Lnet/minecraft/client/renderer/block/model/BlockElementFace;Lnet/minecraft/client/renderer/texture/TextureAtlasSprite;Lnet/minecraft/core/Direction;Lnet/minecraft/client/resources/model/ModelState;)Lnet/minecraft/client/renderer/block/model/BakedQuad;

# SimpleParticleType
public net.minecraft.core.particles.SimpleParticleType <init>(Z)V

# ItemOverrides constructor
public net.minecraft.client.renderer.block.model.ItemOverrides <init>()V

# ReloadState class
public net.minecraft.client.resources.model.ModelManager$ReloadState

# TextureAtlasSprite constructor
public net.minecraft.client.renderer.texture.TextureAtlasSprite <init>(Lnet/minecraft/resources/ResourceLocation;Lnet/minecraft/client/renderer/texture/SpriteContents;IIII)V

# SoundManager
public net.minecraft.client.sounds.SoundManager soundEngine

# SoundEngine
public net.minecraft.client.sounds.SoundEngine tickingSounds # tickingSounds
public net.minecraft.client.sounds.SoundEngine instanceToChannel # instanceToChannel
public net.minecraft.client.sounds.SoundEngine instanceBySource # instanceBySource
public net.minecraft.client.sounds.SoundEngine soundDeleteTime # soundDeleteTime
public net.minecraft.client.sounds.SoundEngine tickCount # tickCount
public net.minecraft.client.sounds.SoundEngine soundBuffers # soundBuffers
public net.minecraft.client.sounds.SoundEngine channelAccess # channelAccess

# SoundBufferLibrary
public net.minecraft.client.sounds.SoundBufferLibrary resourceManager # resourceManager

# ParticleEngine
public net.minecraft.client.particle.ParticleEngine$SpriteParticleRegistration

# Channel
public com.mojang.blaze3d.audio.Channel source # source

# MenuScreens
public net.minecraft.client.gui.screens.MenuScreens$ScreenConstructor